# __ Server ____________________________________________________________________
PORT=3004
NODE_ENV=development

# __ PostgreSQL (via Sequelize) ________________________________________________
DB_HOST=localhost
DB_PORT=5432
DB_NAME=hotel_db
DB_USER=hoteluser
DB_PASSWORD=hotelpass

# __ Kafka _____________________________________________________________________
KAFKA_BROKER=localhost:9092
