# __ Server ____________________________________________________________________
PORT=3005
NODE_ENV=development

# __ Kafka _____________________________________________________________________
KAFKA_BROKER=localhost:9092

# __ SMTP (Nodemailer) _________________________________________________________
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password
