# __ Server ____________________________________________________________________
PORT=3002
NODE_ENV=development

# __ PostgreSQL (via Sequelize) ________________________________________________
DB_HOST=localhost
DB_PORT=5432
DB_NAME=hotel_db
DB_USER=hoteluser
DB_PASSWORD=hotelpass

# __ Redis _____________________________________________________________________
REDIS_HOST=localhost
REDIS_PORT=6379
